<!DOCTYPE html>
<html>
<head>
    <title>Wordle Rivals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>